* {
            margin: 0;
            padding: 0;
        }
        .List-Style-class{
            display: flex;
            list-style:none;
            gap:20px;
        }
        #List-Style-Id{
             display: flex;
            list-style:none;
            gap:20px;
        }
        h1{
            font-size: 12px;
        }